.chatbox{
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px 0;
  background-color: bisque;
  padding: 5px;
}
.container{
  display: flex;
}
 .me{
  flex-direction: row-reverse;
}
.me .chatbox{
  background-color: rgb(200, 236, 237);
}
.btm{
  /* position: fixed; */
  width: 100%;
  /* bottom: 0; */
}
.btm input{
  width: 80%;
  padding: 8px;
}
.btm button{
  width: 16%;
  padding: 8px;
}

.chat-container{
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid;
}

.main-container{
  width: 60%;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.authentication{
  background-color: aqua;
    width: 33%;
    margin: 38px auto;
    height: 26vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}